.prefabCanvas_outerContainer {z-index:100;min-width:100%;min-height:100%;position:absolute;top:0px;left:0px;background:#111}

.prefabCanvas_closeButton {z-index:2000;width:40px;height:32px;position:fixed;top:0px;right:0px;background-color:#222;color:#fff;font-weight:bold;font-size:26px;font-family:Arial, Helvetica, sans-serif;text-align:center;padding:5px 0;cursor:pointer;}
.prefabCanvas_closeButton:hover {color:#999}

.prefabCanvas_innerContainer {z-index:1000;margin:40px}

.prefabCanvas_canvas {background-color:#fff;z-index:1500}