.MuiDialog-paperFullScreen {
  background-color: #000!important;
}

.terminalText {
  margin: 0;
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  min-height: 18px
}

.consoleContainer {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 64px;
  padding: 10px 0px;
  background: #000;
}

.consoleInput {
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: #000;
}

.consoleInputText {
  margin: 0!important
}

.MuiInputBase-input {
  color: #fff!important
}