.MuiDialog-paperFullScreen {
  background-color: #111!important;
}

.AppbarTitle {
  flex-grow: 1
}

.AppbarButton {
  margin-right: 15px!important;
}

.AppbarExit {
  margin-right: 10px!important;
}

.toolbarDrawer {
  z-index: 10!important;
}

.MuiDrawer-paper {
  background-color: #222!important;
}

.toolbarList {
  max-width: 46px;
  overflow: hidden;
  top: 63px!important;
}

.MuiListItem-button {
  padding: 8px 11px!important;
}

.createRefabDialogContent {
  height: auto;
}

.prefabSize {
  width: 275px!important
}

.editingCanvas {
  background: #fff
}